section.tasks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.task-container {
  max-width: 630px;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: hidden;
  overflow-x: auto;
}
