td.rearrangeCell {
  display: flex;
}

td.rearrangeCell div {
  margin: 0 5px;
}

ul.dropZone {
  min-width: 150px;
  min-height: 200px;
  padding: 10px;
}

td.dropZone,
ul.dropZone {
  border: 2px solid rgb(128, 164, 218);
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(128, 164, 218);
}

ul.dropZone div {
  margin: 5px 0;
}
