.task-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.task-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 800px) {
  .task-section {
    flex-direction: column;
  }
}
