.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  height: 10vh;
}

.top-controls button {
  margin-left: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
  max-width: 100%;
  min-height: 80vh;
}

.main-content section {
  width: 100%;
}

.app-footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #e0e0e0;
}
